@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row text-center">
        <h1 class="display-4 text-center m-3">@ViewBag.Role</h1>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="/graduation-cap-solid.svg" style="margin : 30px auto;" alt="calendar" width="100">
            <div class="card-body" style="text-align: center">
                <a href="/Admin/Students">Students</a>
            </div>
        </div>
        <div class="card">
            <img src="/person-chalkboard-solid.svg" style="margin : 30px auto;" alt="calendar" width="100">
            <div class="card-body" style="text-align: center">
                <a href="/Admin/Faculties">Faculties</a>
            </div>
        </div>
        <div class="card">
            <img src="/bars-progress-solid.svg" style="margin : 30px auto;" alt="calendar" width="100">
            <div class="card-body" style="text-align: center">
                <a href="/Project/AllProjects"><span>All<br />Assignments</span></a>
            </div>
        </div>
    </div>
</div>