@*@model IEnumerable<E_LearningMVC.Models.ChatModel>*@

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #FF9F1C" class="display-4 mt-3">Chat</h1>

<div>
    <form method="post" action="Index">
        <label class="text-light">Select Faculty</label><br />
        @foreach (var item in ViewBag.Faculties)
        {
            <input type="radio" name="faculty" value="@item"/><span class="text-light"> @item</span>
        }
        <br />
        <br />
        <button type="submit" class="btn btn-sm" style="background-color: #FF9F1C">Submit</button>
    </form>
</div>